<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Phone</th>
            <th>Photo</th>

        </tr>
        </thead>
        <tbody>
        {% for i in st %}
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ i.name }}</td>
           &nbsp; <td>&nbsp;&nbsp;&nbsp;{{ i.dob }}</td>
            &nbsp;<td>&nbsp;&nbsp;&nbsp;{{ i.phone }}</td>
            &nbsp;<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="{{ i.image }}" width="80" height="45"></td>
			&nbsp;&nbsp;&nbsp; <td> &nbsp;&nbsp;&nbsp;<a href="/AdminEdit/{{ i.id }}">Edit</a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>